/* your custom css */
@font-face {
  font-family: Hind-Regular;
  src: url('fonts/Hind/Hind-Regular.ttf');
  font-weight: bold;
}

.navPusher {
  padding-top: 80px;
}

.mainHomeContainer {
  background-color: black;

}

.homeContainer {
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

.projectLogo img {
  max-width: 332px;
  max-height: 332px;
  border-radius: 56px;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.1);
}

.projectLogo {
  margin-bottom: 50px;
}

.contrastBackground {
  background-color: #8100f7;
  padding-left: 5px;
  padding-right: 5px;
}


.textEmail {
  display: flex;
  justify-content: left;
  opacity: 0.9;
  border: none;
  border-radius: 5px;
}

.inner {
  text-align: left;
  display: block;
}

.promoSection .promoRow {
  padding: 0px;
}

.promoSection .promoRow .pluginRowBlock{
  justify-content: left;
}

.homeContainer .homeWrapper {
  padding-top: 161px;
}

.projectTitle {
  font-family: $titleFont;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #ffffff;
  margin: 0px;
  max-width: 55%;
  word-spacing: 5px;
}


.heroContainer {
  background-size: cover;
  background-image: url(../img/imagem_principal_home.png) ;
  height: 620px;
}

.projectLogo {
  display: flex;
  align-items: center;
}

.projectLogo h1 {
  margin: 0px;
  margin-left: 70px ;
  font-size: 90px;
  color: white;
}

.projectTitle small {
  font-family: $descriptionFont;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0px;
}

.fixedHeaderContainer > .wrapper {
  margin: 0 auto;
  width: 1440px;
  padding: 0 32px;
  height: 80px;
  margin: 0px;
  max-width: 1440px;
}

.fixedHeaderContainer {
  height: 80px;
  background: #ffffff;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.fixedHeaderContainer header {
  height: 42px;
  position: relative;
  top: 19px;
  margin: 0px;
  justify-content: space-between;
  width: 100%;
}

.fixedHeaderContainer a {
  height: 42px;
}

.fixedHeaderContainer header img {
  width: 115px;
  height: 42px;
  object-fit: contain;
}

.navigationSlider {
  height: 42px;
  min-height: 8px;
}

.navigationSlider nav.slidingNav{
  top: 10px;
}

.navigationSlider .slidingNav ul li a {
  color:#4e5666;
  border: 0;
  display: flex;
  font-size: 16px;
  font-family: Hind-Regular, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 26px;
  margin: 0;
  padding: 0;
  padding: 6px 10px;
  border-radius: 4px;
}

.productShowcaseSection h2 {
  font-family: $titleFont;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #4e5666;
}

.productShowcaseSection {
  background: #ffffff;
}

.blockHeader h2 p{
  font-family: $titleFont;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #4e5666;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  color: #4e5666;
  background: none;
}

.mainContainer {
  background: #ffffff;
  padding: 0px;
}

@media only screen and (max-device-width: 390px) {
  .navigationSlider .slidingNav ul li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 970px) {
  .heroContainer {
    background-size: cover;
    background-image: url(../img/cover.png) ;
  }
  .wrapper{
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .projectLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 15px;
  }
  .projectLogo h1 {
      margin: 0px;
  }
  .projectTitle {
    display: flex;
    max-width: none;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 735px){
    .projectLogo img {
      margin-top: 2%;
    }

}

@media only screen and (max-width: 510px){
  .projectLogo img {
    max-width: 207px;
    max-height: 207px;
    margin-top: 7%;
    border-radius: 55px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
  }
  .projectLogo h1 {
    margin: 0px;
    font-size: 56px;
  }
  .projectLogo {
    margin-bottom: 40px;
  }
  .projectTitle small {
    font-size: 28px;
  }
}

@media only screen and (max-width: 480px) {
    .projectLogo img {
      width: 166px;
      height: 166px;
      margin-top: 10%;
      border-radius: 40px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    }
    .projectLogo h1 {
      font-size: 36px;
    }
    .projectTitle small{
      font-size: 24px;
    }
}


@media only screen and (max-device-width: 776px) {
  .homeContainer {
    height: 100%;
    background-image: none;
  }
  .homeContainer .inner {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .fixedHeaderContainer header img {
    width: 115px;
    height: 42px;
    object-fit: contain;
  }
  .fixedHeaderContainer {
    width: 100%;
  }
  .fixedHeaderContainer > .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 32px;
    height: 80px;
    margin: 0px;
  }
}

@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer header img {
    width: 115px;
    height: 42px;
    object-fit: contain;
  }
  .fixedHeaderContainer {
    width: 100%;
  }
  .fixedHeaderContainer > .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 32px;
    height: 80px;
    margin: 0px;
  }
  .post{
    margin-top: 50px;
  }
  .navigationSlider nav.slidingNav {
    top: 28px;
  }

  .navigationSlider .slidingNav ul {
    background-color: #ffffff;
  }

  .navPusher {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1400px) {

}

@media only screen and (min-width: 1500px) {
  .fixedHeaderContainer > .wrapper {
    max-width: 100%;
  }

}
