.centerText {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

article p {
    text-align: justify;
}

.postHeaderTitle {
    margin-bottom: 5%;
}

.blockCenterText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.blockContent {
    margin-left: 5%;
    margin-bottom: 4%;
}

.small {
    font-size: 14px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.img {
    display: inline;
    width: 32px;
    height: 32px;
}

.containerImg {
    display: flex;
    justify-content: center;
    margin-top: 3%; 
}

.containerImg img {
    margin-right: 50px;
}   

.img_final {
    display: inline;
    width: 38px;
    height: 32px;
}

.mais {
    display: inline;
    width: 38px;
    height: 38px;
}

.imgCapa {
    width: 450px;
    height: 450px;
}

@media only screen and (max-width: 455px) {
    .imgCapa{
        width: 300px;
        height: 300px;
    }
}

.divNotaCentralizadaGif{
    text-align: center;
    font-size: 14px;
}
.corVermelha{
    color: red;
}
.underline{
    text-decoration: underline;
}
.textoJustificado p{
    text-align: justify;
}
.preRequisito{
    border: solid 1px; 
    padding: 0% 4%;
    margin-bottom: 0%;
}
.preRequisito h2{ 
   margin-top: 16px;
}