.centerText {
    text-align: center;
}

p {
    text-align: justify;
}

.postHeaderTitle {
    margin-bottom: 5%;
}

.border {
    border: solid 1px black;
    padding: 2%;    
    margin-bottom: 4%; 
}

.centerText {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}